* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;
}

/* COMMON */

.container-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.row-reverse {
  flex-flow: row-reverse;
}

.center-items {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-between {
  justify-content: space-between;
}

.center-text {
  text-align: center;
}

/* COLOURS */

.black-text {
  color:black;
}

.white-text {
  color:#eae8e6;
}

.grey-text {
  color:#505050;
}

.lightgrey-text {
  color: #b0b0b0;
}

.accent-colour {
  color: #ae8652;
}

/* TYPOGRAPHY */

.font-w-600 {
  font-weight: 600;
}

.font-w-700 {
  font-weight: 700;
}

.font-w-800 {
  font-weight: 800;
}

.decoration-none {
  text-decoration: none;
}

/* CTA BUTTON */
.cta-btn {
  background-color: transparent;
  border: 2px solid #ae8652;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 30px;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 35px;
}

.cta-btn:hover {
  color: #8e683b;
  border: 2px solid #8e683b;
  transition: color 0.3s, border 0.3s;
}

/* NAVBAR TOP */

header {
  background-image: url("../img/avadabarbers-hero-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 0;
  height: 100vh;
}

#navbar-top {
  width:70%;
  max-width: 1150px;
  margin: auto;
  padding: 20px 0;
}

#navbar-top img {
  width: 170px;
}

#navbar-top i:hover {
  color:#ae8652;
  transition: color 0.5s;
}

.navbar-icons :first-child > i {
  font-size: 1.2rem;
  transform: scaleX(1.1);
  
}

.navbar-icons :last-child > i {
  font-size: 1.4rem;
  transform: scaleX(1.3);
  margin:0 5px 0 20px;
}

.widgets-container {
  width: 100%;
  position: fixed;
}

.widget {
  width: 60px;
  height: 60px;
  background-color: #FFF;
  border-radius:5px;
  margin-right: 8px;
  margin-bottom: 3px;
  padding: 5px;
  cursor: pointer;
}

.widget span {
  font-size: 0.6rem;
  letter-spacing: 0;
}

.widget i {
  font-size: 1rem;
}

.widget h4 {
  margin-bottom: 5px;
  color: #66ba7e;
}

/* HERO */

#hero {
  width: 70%;
  max-width: 1150px;
  margin: auto;
  /* background-color: coral; */
}

.hero-text {
  width: 100%;
}

.hero-text > * {
  margin-bottom: 30px;
}

.hero-text h1 {
  font-size: 5rem;
  font-family: "Abril Fatface";
}

.hero-mirror-image img {
  width:100%;
}

.line {
  height: 3px;
  width: 35%;
  background-color: #ae8652;
}

#hero p {
  font-family: "Lato";
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 50px;
}

/* AWARD SECTION */

#award {
  background-image: url("../img/avadabarbers-award-bg.jpg");
  background-position: center-top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 165px 0 250px 0;
  position: relative;
}

.award-text {
  margin: auto;
}

.award-text h4 {
  font-size: 1.1rem;
  font-weight: 900;
  
}

.award-text h1 {
  font-family: "Abril Fatface";
  font-size: 4rem;
}

.spacer-top {
  height: 100px;
  width: 100%;
  clip-path:polygon(50% 0%, 0% 100%, 100% 100%); 
  background-color :#FFF;
  position: absolute;
  bottom: 0;
}

#services {
  height: 600px;
  background-color: #FFF;
}


