<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- FAVICON -->
    <link rel="shortcut icon" href="img/brush.png" type="image/x-icon">

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:wght@100;300;700;900&display=swap" rel="stylesheet"> 

    <!-- FONT-AWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- VUE.JS -->
    <script src="libs/vue.js" charset="utf-8"></script>

    <title>Barber Shop</title>
  </head>
  <body>

    <!-- VUE APP SECTION -->
    <div id="barberShop">
      <header>

        <!-- TOP NAVBAR -->
        <nav id="navbar-top" class="container-flex flex-row center-items justify-space-between">
          <div>
            <a href="javascript:void(0)"><img src="img/avadabarbers-logo.png" alt="logo"></a>
          </div>  
          <div class="navbar-icons container-flex flex-row center-items justify-space-between">
            <a v-for="(icon, index) in headerIcons" :key="icon.id" class="white-text" href="javascript:void(0)"><i v-bind:class="'fas fa-' + icon.class"></i></a>
          </div>
        </nav>
  
        <!-- WIDGETS -->
        <div class="widgets-container container-flex flex-row center-items row-reverse">
          <div class="container-flex flex-column center-items">
            <div class="widget center-text container-flex flex-column center-items justify-space-between">
              <img src="img/widget-demos.png" alt="demos">
              <span>Demos</span>
            </div>
            <div class="widget container-flex flex-column center-items justify-space-between">
              <div class="on-sale">
                <span>$</span><h4>39</h4>
              </div>
              <span>On Sale</span>
            </div>
          </div>
        </div>
  
        <!-- HERO -->
        <section id="hero" class="container-flex flex-row center-items justify-space-between">
          <div class="hero-text container-flex flex-column">
            <h1 class="white-text">Barber Shop</h1>
            <div class="line"></div>
            <p class="grey-text">The Pinnacle of Male Grooming</p>
            <div>
              <a href="javascript:void(0)" class="cta-btn accent-colour">{{ctaBtn.hero}}</a>
            </div>
          </div>
          <div class="hero-mirror-image container-flex flex-row center-items row-reverse">
            <img src="img/avadabarbers-hero-focalmirror.png" alt="mirror">
          </div>
        </section>
      </header>
  
      <main>
  
        <!-- AWARD SECTION -->
        <section id="award">
          <div class="award-text container-flex flex-column center-items">
            <h4 class="subtitle-section accent-colour">AWARD WINNING</h4>
            <h1 class="title-section lightgrey-text">Pro Barbers</h1>
            <a href="javascript:void(0)" class="cta-btn accent-colour">{{ctaBtn.award}}</a>
          </div>
  
          <!-- TRIANGLE SPACER -->
          <div class="spacer-top"></div>
        </section>
  
        <!-- SERVICES SECTION -->
        <section id="services">
          <h4 class="subtitle-section accent-colour center-text">MENS GROOMING</h4>
          <h1 class="title-section lightgrey-text center-text">Services</h1>
          <div class="services-container container-flex flex-row center-items justify-center">
            <div v-for="(card, index) in services" :key="card.id" class="service-card container-flex flex-column center-items justify-center">
              <div class="card-image">
                <a href="javascript:void(0)"><img v-bind:src="'img/' + card.image" v-bind:alt="card.alt"></a>
              </div>
              <a href="javascript:void(0)"class="accent-colour">{{card.title}}</a>
              <p class="center-text grey-text">{{card.text}}</p>
            </div>
          </div>
          <div class="container-flex flex-row center-items justify-center">
            <a href="javascript:void(0)" class="cta-btn accent-colour">{{ctaBtn.services}}</a>
          </div> 
        </section>
        
        <!-- PRODUCTS SECTION -->
        <section id="products">
  
          <!-- TRIANGLE SPACER -->
          <div class="spacer-bottom"></div>
  
          <h4 class="subtitle-section accent-colour center-text">WE HAVE YOU COVERED</h4>
          <h1 class="title-section lightgrey-text center-text">Avada Grooming Products</h1>
          <div class="products-container container-flex flex-row center-items justify-center">
            <div v-for="(product, index) in products" :key="product.id" class="products-card container-flex flex-column center-items justify-center">
              <div class="products-card-image">
                <a href="javascript:void(0)"><img v-bind:src="'img/' + product.image" v-bind:alt="product.alt"></a>
              </div>
              <a href="javascript:void(0)"class="accent-colour">{{product.name}}</a>
              <span class="accent-colour">{{product.price}}</span>
            </div>
          </div>
          <div class="container-flex flex-row center-items justify-center">
            <a href="javascript:void(0)" class="cta-btn accent-colour">shop our product range</a>
          </div>
        </section>
  
        <!-- Featured product card -->
        <div class="featured-product container-flex flex-row center-items justify-center">
          <div class="card">
            <div class="left-image container-flex flex-row center-items justify-center">
              <img v-bind:src="'img/' + featuredProduct.image" v-bind:alt="featuredProduct.alt">
            </div>
            <div class="right-side">
              <h4 class="accent-colour">THIS MONTH FEATURED PRODUCT</h4>
              <h1 class="title-section lightgrey-text">{{featuredProduct.name}}</h1>
              <p class="grey-text">{{featuredProduct.description}}</p>
              <div class="container-flex flex-row center-items">
                <a href="javascript:void(0)" class="cta-btn accent-colour">{{ctaBtn.featuredProduct}}</a>
              </div>
            </div>         
          </div>
        </div>
  
        <!-- REVIEWS SECTION -->
        <section id="reviews">
          <h4 class="subtitle-section accent-colour center-text">WHAT PEOPLE SAY</h4>
          <h1 class="title-section lightgrey-text center-text">Reviews</h1>
          <div class="reviews-container container-flex flex-row center-items justify-center">
            <div v-for="(review, index) in reviews" :key="review.id" class="review container-flex flex-column center-items justify-center">
              <p class="grey-text">{{review.text}}</p>
              <img v-bind:src="'img/' + review.image" v-bind:alt="review.alt">
              <span class="accent-colour">{{review.name}}</span>
            </div>
          </div>
        </section>
  
        <section id="blog">
  
          <!-- TRIANGLE SPACER -->
          <div class="spacer-blog"></div>
  
          <h4 class="subtitle-section accent-colour center-text">TALES FROM THE BARBER SHOP</h4>
          <h1 class="title-section lightgrey-text center-text">Recent Blog Posts</h1>
  
          <div class="blog-posts-container container-flex flex-row justify-center">
            <div v-for="(post, index) in blogPosts" :key="post.id" class="post">
              <div>
                <a href="javascript:void(0)"><img v-bind:src="'img/' + post.image" v-bind:alt="post.alt"></a>
              </div>
              <a href="javascript:void(0)"class="accent-colour">{{post.title}}</a>
              <p class="grey-text">{{post.text}}</p>
            </div>
          </div>
          <div class="container-flex flex-row center-items justify-center">
            <a href="javascript:void(0)" class="cta-btn accent-colour">{{ctaBtn.blog}}</a>
          </div>
  
        </section>
      </main>
  
      <footer>
        <!-- BOTTOM NAVBAR -->
        <nav id="navbar-bottom">
  
          <!-- CONTACTS -->
          <section id="contacts-socials">         
            <div class="contacts-container container-flex flex-row center-items justify-center">
              <div class="contacts-card center-text container-flex flex-column justify-center">
                <div>
                  <a href=""><img src="img/avadabarbers_footer_shop.png" alt="shop"></a>
                </div>
                <div class="container-flex flex-row center-items justify-center">
                  <a href="javascript:void(0)" class="cta-btn accent-colour">{{ctaBtn.shop}}</a>
                </div>
              </div>
              <div class="contacts-card center-text container-flex flex-column center-items justify-center">
                <img src="img/avadabarbers-logo.png" alt="logo">
                <p class="grey-text">{{contacts.name}} <br>
                {{contacts.street}} <br>
                {{contacts.city}} <br>
                {{contacts.email}} <br>
                {{contacts.telephone}}</p>
                <h4 class="subtitle-section accent-colour">FOLLOW US</h4>
                <ul>
                  <li v-for="(social, index) in socials" :key="social.id"><a v-bind:href="social.url"><i v-bind:class="'white-text fab fa-' + social.icon"></i></a></li>
                </ul>          
              </div>
              <div class="contacts-card center-text container-flex flex-column justify-center">
                <div>
                  <a href=""><img src="img/avadabarbers_footer_appointment.png" alt="appointment"></a>
                </div>
                <div class="container-flex flex-row center-items justify-center">
                  <a href="javascript:void(0)" class="cta-btn accent-colour">{{ctaBtn.appointment}}</a>
                </div> 
              </div>
            </div>
          </section>
  
          <!-- COPYRIGHT SECTION -->
          <section id="copyright">
            <div class="center-text container-flex flex-row justify-center grey-text">
              <ul>
                <li>© Copyright 2012 - {{currentYear}}</li>
                <li>| Avada Theme by <a v-bind:href="footerLinks[0].url" class="grey-text decoration-none">{{footerLinks[0].name}}</a></li>
                <li>| All Rights Reserved</li>
                <li>| Powered by <a v-bind:href="footerLinks[1].url" class="grey-text decoration-none">{{footerLinks[1].name}}</a></li>
              </ul>
            </div>
          </section>
          <div class="scroll-top" @click="scrollTop" id="scroll">
            <i class="fas fa-chevron-up white-text"></i>
          </div>
        </nav>
      </footer>
    </div>  
    
    <!-- JAVASCRIPT -->
    <script src="js/main.js" charset="utf-8"></script>
  </body>
</html>
